@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }

    // 50% {
    //     transform: translateX(0%);
    //     opacity: 1;
    // }

    100% {
        transform: translateX(0%);
    }
}

@keyframes rotate360 {
    from {
        // transform: translateY(100%);
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}