@use "/src/sass/base/variables.scss" as *;

.works {
    padding-top: 60px;

    &__slider {
        margin-top: 40px;
    }

    .swiper-slide img {
        width: 100%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    .swiper-pagination {
        bottom: -35px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: $dark;
        border-radius: 0%;
        opacity: 1;
        -webkit-tap-highlight-color: transparent;
    }

    .swiper-pagination-bullet-active {
        background-color: $ceramic;
    }
}

@media screen and (min-width: 768px) {
    .works {
        .swiper-slide img {
            width: 100%;
            margin: 0;
        }

        &__slider {
            margin-top: 45px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .works {
        .swiper-pagination {
            bottom: -30px;
        }

        &__wrapper {
            position: relative;
        }

        &__slider {
            margin: 80px 40px 0 40px;
        }

        .works__slider-nav {
            position: absolute;
            display: block;
            font-size: 21px;
            top: 50%;
            background-color: transparent;
            border: none;
            transform: translateY(-50%);

            &::before {
                width: auto;
                margin: 0;
            }
        }

        .icon-left-open {
            left: 13px;
        }

        .icon-right-open {
            right: 13px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .works {
        padding-top: 100px;

        &__slider {
            margin: 80px 85px 0 85px;
        }

        .icon-left-open {
            left: 40px;
        }

        .icon-right-open {
            right: 40px;
        }
    }
}