@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.btn-default {
    @include button;
    width: 230px;
    height: 50px;
    font-size: 20px;
}

.send-button {
    @include button;
    width: 220px;
    height: 40px;
    font-size: 16px;

    &:focus {
        outline: 1px solid $ceramic;
        border: none;
    }

    &:disabled {
        border: 1px solid $ui-disabled;
        color: $ui-disabled;
    }
}

.submit-button {
    @include button;
    width: 90px;
    height: 40px;
    font-size: 16px;
    color: $light;
    border: 1px solid $light;

    &:disabled {
        color: $ui-disabled;
        border: 1px solid $ui-disabled;
    }
}

@media screen and (min-width: 1200px) {
    .btn-default {
        &:hover {
            background-color: $dark;
            color: $light;
        }

        &:active {
            box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
            background: rgba(217, 217, 217, 0.1);
            color: $dark;
            border: none;
        }
    }

    .send-button {
        @include button;
        width: 220px;
        height: 40px;
        font-size: 16px;

        &:active {
            outline: 1px solid $ceramic;
            border: none;
        }

        &:hover {
            color: $ceramic;
            border: 1px solid $ceramic;
        }
    }
}

@media screen and (min-width: 1920px) {
    .btn-default {
        width: 330px;
        height: 60px;

    }
}